<div class="container">
  <p>New Product</p>
  <nav>
    <a routerLink="/">Product List</a>
    <a href="/newProduct">New Product</a>
  </nav>
  <h2>Creating new product</h2>
  <form class="container__new-product-form">
    <p>
    <input type="text" placeholder="id" [(ngModel)]="idProd" name="id" required>
    </p>
    <p>
    <input type="text" placeholder="name" [(ngModel)]="nameProd" name="name" required>
    </p>
    <p>
    <input type="text" placeholder="price" [(ngModel)]="priceProd" name="price" required>
    </p>
    <button (click)="addProd()">add</button>
  </form>
</div>
